<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <img class="navimg-left" src="{{ ASSET_PATH }}/img/{{ page.image }}" width="230" style="margin-right:20px;">
  <h1>{{ page.title }}</h1>
  <p class="lead">{{ page.tagline }}</p>

<p>
<a href="https://github.com/scas/" class="btn btn-info btn-large">View project on GitHub</a>
<a href="/download.html" class="btn btn-large">Download SOPAC2</a>
</p>
</header>


<hr class="soften">

<div class="row">

    {{ content }}

</div>
